@{
    ViewData["Title"] = "Home Page";
}
@model System.String;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My machine is @Environment.MachineName</p>
    <p>@Model</p>
</div>
